<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AboutServlet</servlet-name>
        <servlet-class>Servlet.AboutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aboutServlet</servlet-name>
        <servlet-class>Servlet.AboutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IIndexServlet</servlet-name>
        <servlet-class>Servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuatServlet</servlet-name>
        <servlet-class>Servlet.CreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AboutServlet</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aboutServlet</servlet-name>
        <url-pattern>/aboutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IIndexServlet</servlet-name>
        <url-pattern>/IIndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuatServlet</servlet-name>
        <url-pattern>/Buat</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
